@import url(https://fonts.googleapis.com/css?family=Poppins);

body {
    font-family: 'Poppins', serif;
    display: flex;

    height: 100vh;
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: bold;
}

:root {
    --offWhite: #dbf4ad;
    --amarelo: #fff45c;
    --vermelho: #821313;
    --cinzaEscuro: #080808;
    --preto: #0000;
    --azulEscuro: #2d334a;
    --cinza: #222;
}




/* Aba de navegação lateral */
#divContainerInformacoes {
    position: fixed;
    z-index: 1111;
    background-color: var(--cinzaEscuro);
    width: 15%;
    height: 1950px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    border-right: 0.5px solid var(--amarelo);
}

#divTituloPagina {
    font-size: 40px;
    height: 100px;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: var(--amarelo);
    padding-top: 20px;
    border-bottom: 0.5px solid #555;
}

.divNavbar {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 90%;
    height: 70px;
    font-size: 20px;
    padding-left: 10px;
    border-bottom: 0.5px solid #555;
    transition: 0.2s;
}

.divNavbar:hover {
    font-size: 21px;
    background-color: #222;
    cursor: pointer;
    color: var(--amarelo);

}

i {
    font-size: 20px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #fff;
}




/* Background que abriga todos os gráficos da Dashboard */
#divContainerGraficos {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--cinzaEscuro);
    height: 100vh;
    width: 100%;
    padding-left: 15%;
}




/* Div que engloba os Gráficos */
.divGraficos {
    background-color: var(--cinza);
    width: 45%;
    height: 600px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    border: 0.5px solid var(--amarelo);
}




/* Card de Gráfico Rosca de Percentual Temperatura */
.divGraficos #canvasPercentualTemperatura {
    width: 70% !important;
    height: 60% !important;
}

#percentualTemperatura {
    width: 35%;
    height: 660px;
    display: flex;
    justify-content: center;
}

#percentualTemperatura p {
    padding: 50px;
    font-size: 18px;
}




/* Card Gráfico Linha  de Temperatura Semanal */
#divBox {
    width: 60%;
}


#temperaturaSemanal {
    width: 100%;
    height: 95.3%;
}




/* KPI´s */
#card1,
#card2,
#card3,
#card4 {
    width: 22.5%;
    height: 180px;
    text-align: center;
    font-weight: bold;
    background-color: var(--cinza);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    padding-top: 10px;
    border: 0.5px solid var(--amarelo);
}

/* Dados exibidos nos cards */

#card1 span,
#card2 span,
#card3 span,
#card4 span {
    font-size: 30px;
}

#card1 span {
    color: #35ff35;
}

#card2 span {
    color: yellow;
}

#card3 span {
    color: #ff2a2a;
}

#card4 span {
    color: #ff2a2a;
}

/* Títulos dos Cards */
#card1 h2,
#card2 h2,
#card3 h2,
#card4 h2 {
    margin-top: 5px;
    margin-bottom: 0px;
}